.json-type-tools {
    display: flex;
    align-items: center;
    border: 1px dashed;
    border-radius: 10px;
}

.json-type-tools.row-align {
    flex-direction: row;
}

.json-type-tools.col-align {
    flex-direction: column;
}

.json-type-tool-item {
    margin: 0.25rem;
}

select.json-type-tool-item {
    background: inherit;
    border: none;
}

.json-add-icon, .json-remove-icon {
    cursor: pointer;
}